---
import Layout from '../layouts/Layout.astro';
import ProgramItem from '../components/ProgramItem.astro';
import programacaoData from '../data/programacao.json';
import '@/styles/global.css';

const datas = Object.keys(programacaoData);
---

<Layout title="Programação Lab+ TV">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <div class="container">
    <h1>Lab+ TV</h1>
    <div class="slide">
      <img src="./imgs/capa.jpg" alt="Capa">
      <div class="film-name">Estréia</div>
    </div>
  </div>

<div class="dates-container">
  {Object.keys(programacaoData).map((key) => (
    <button 
      class={key === 'em-breve' ? 'embreve' : 'button'} 
      data-date={key}
    >
      {key.toUpperCase()}
    </button>
  ))}
</div>
  
  <div id="programacao"></div>

<script>
    import { initProgramacao } from '../scripts/programacao';
    initProgramacao();
  </script>
</Layout>